*{
    padding:0; margin: 0; box-sizing: border-box;
    font-family:'poppins', sans-serif;
}

header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.5)) ,
                url(./assets/bg.jpg);
    background-size: cover;
    font-family:'poppins', sans-serif;
}

nav{
    width: 100%;
    height: 100px;
    color: rgb(44, 131, 172);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    font-size: 2em;
    letter-spacing: 2px;
}

.menu a{
    text-decoration: none;
    color: aliceblue;
    padding: 10px 20px;
    font-size: 19px;
    position: relative;
}

.menu a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid rgb(44, 131, 172);;
    transition: .4s linear;   
}

.menu a:hover::before{
    width: 90%;
}

.contact-h a, #contact-us{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    background: rgb(44, 131, 172);;
    border-radius: 8px;
}

.contact-h a:hover{
    background: transparent;
    border: 1px solid rgb(44, 131, 172);;
    color: aliceblue;
}

.landing{
    max-width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.landing span{
    letter-spacing: 5px;
    font-size: 26px;
}

.landing h1{
    font-size: 4.5em;
    padding-top: 12px;
    padding-bottom: 20px;
}

.landing span{
    font-size: 2.5rem;
}

.landing a{
    text-decoration: none;
    background: rgb(44, 131, 172);;
    color: black;
    padding: 10px 20px;
    letter-spacing: 5px;
    transition: .4s;
    font-size: 1.2rem;
}

.landing a:hover{
    background: transparent;
    border: 1px solid rgb(44, 131, 172);;
    color: aliceblue;
}

.toggle-btn{
    display: none;
}


/* -------------------Responsive-------------------*/

.dropdown-menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open{
    height: 190px;
}

.dropdown-menu li{
    padding: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.dropdown-menu li a{
    color: #fff;
    text-decoration: none;
}

.dropdown-menu li #contact-us{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 992px) {
    .menu a , .contact-h a{
        display: none;
    }
    
.toggle-btn{
    display: block;
    cursor: pointer;
    font-size: 1.32em;
}
.dropdown-menu{
    display: block;
}
}

@media (max-width: 576px){
    .dropdown-menu{
        left: 2rem;
        width: unset;
        top: 72px
    }
    .logo{
        font-size: 23px;
        padding-left: .7em;
    }
    .landing{
        padding-top: 15em;
    }
    .landing h1{
        font-size: 3.0em;
    }
        
}

/* -------------------Credentials-------------------*/



.services-container{
    width: 100%;
    height: fit-content;
    padding: 0 8%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)) ,
                url(./assets/bg.jpg);
    background-size: cover;
    
}

.services-container h1{
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-size: 48px;
    font-weight: 600;
    position: relative;
    color: aliceblue;
}

.services-container h1::after{
    content: '';
    background: rgb(44, 131, 172);;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.services-row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 30px;
    padding-top: 60px;
}

.service{
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s, background 0.5s;
}

.service i{
    font-size: 40px;
    margin-bottom: 10px;
    color: rgb(44, 131, 172);;
}

.service h2{
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 8px;
    color: aliceblue;
}

.service:hover{
    background: bisque;
    transform: scale(1.05);
}

.service:hover i{
    color: black;
}

.service:hover h2{
    color: black;
}


/* --------------Respnsive-------------- */

@media (max-width: 576px){
    .services-row{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 30px;
        
    }
}

/* --------------Clients-------------- */

.clients{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.5)) ,
                url(./assets/bg.jpg);
    background-size: cover;
    /* background: white; */
}

.clients-container{
    position: relative;
    min-width: 425px;
    min-height: 70vh;
    background: rgb(44, 131, 172);;
    padding: 50px;
    box-shadow: 0 35px 50px rgba(0,0,0,0.1);
}

.clients-container::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    background: rgb(44, 131, 172);;
}

.clients-container h1{
    position: relative;
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

.clients-container .client-name{
    position: relative;
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 22px;
    margin: 10px 0;
    cursor: pointer;
    border-style: inset;
}

.clients-container .client-name::before{
    content: '';
    position: absolute;
    width: 100%; 
    height: 100%;
    background: #d47f00c9;
    transition: transform 0.5s;
    transform: scaleX(0);
    
   
}

.clients-container .client-name:hover::before{
    transition: transform 0.5s;
    transform: scaleX(1);
    transform-origin: left;
    
}
.clients-container .client-name h3{
    position: relative;
}


/* --------------Responsive-------------- */


@media screen and (max-width: 576px){
    .clients-container{
        padding: none;
        overflow: hidden;
        min-width: fit-content;
    }

    .clients-container .client-name{
        display: flex;
        align-items: center;
    }
}


/* --------------Contact-------------- */

.contact{
    width: 100%;
    height: 100vh; 
}

.contact-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

.contact-container:after{
    content: '';
    position: absolute;
    left: 0; 
    right: 0; 
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)) ,
                url(./assets/bg.jpg);
    background-size: cover;
    z-index: -1;
}

.contact-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(235, 241, 243);
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
    height: 100%;
    background: url("./assets/contact.jpg") no-repeat center;
    background-size: cover;
    filter: blur(4px);
}

.right{
    padding: 25px 40px;
}

.right h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.right h2:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: rgb(44, 131, 172);
}

.field{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0,0,0,0);
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.field:focus{
    background-color: #e2dede;
    border: 2px solid rgba(30,85,250, 0.47);
}

.area{
    min-height: 150px;
}

.btn{
    width: 100%; 
    padding: 0.5rem 1rem;
    font-size: 1.1rem; 
    background-color: black;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}

@media screen and (max-width:880px){
    .contact-box{
        grid-template-columns: 1fr;
    }

    .left{
        display: none;
    }
    .right{
        width: fit-content;
    }
    .contact-container{
        padding: 0%;
    }
}

